.list-container-holder {
    position: relative;
    margin: auto;
    display: flex;
    width: 1000px;
}

.list-container-go-left-button {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 250px;
    background-color: #fafafa;

    &:hover {
        cursor: pointer;
    }
}


.list-container-go-right-button {
    position: absolute;
    top: 50%;
    right: calc(5% - 60px);
    transform: translate(-50%, -50%) rotate(180deg);
    width: 60px;
    height: 60px;
    border-radius: 250px;
    background-color: #fafafa;

    &:hover {
        cursor: pointer;
    }
}

.upper-line {
    position: absolute;
    width: 30px;
    border: 2px solid black;
    transform: rotate(-45deg);
    background-color: black;
    top: 29%;
    left: 10%;

}

.lower-line {
    position: absolute;
    width: 30px;
    border : 2px solid black;
    transform: rotate(45deg);
    background-color: black;
    bottom : 29%;
    left: 10%;
}

.list-container-belt {
    width: 740px;
    height: 760px;
    margin: auto;
    display: flex;
    // border: 2px solid black;
    align-items: baseline;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: row;
}

.list-container-belt::-webkit-scrollbar {
    display: none;
}

.belt-element {

    flex-shrink: 0;
    position: relative;
    height: 700px;
    width: 320px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    display: block;
    float: left;
    box-sizing: border-box;
    overflow-x: auto;
    border: 1px solid #fafafa;
    border-radius: 6px;

}

.belt-element::-webkit-scrollbar {
    display: none;
}

.belt-header {
    text-align: center;
}

.belt-host-list-container {
    height: 400px;
    width: 270px;
    overflow-x: auto;
    /* background-color: #fafafa; */
    border-radius: 6px;
    margin : auto;
    border: 1px solid #fafafa;
}

.belt-host-list-container::-webkit-scrollbar {
    display: none;
}

.counter-container {
    display: flex;
}

.count-indicator {
    font-size: 17px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
}

.delete-buttons-container {
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.delete-button {
    border: 2px solid rgb(49, 110, 125);
    box-sizing: border-box;
    color: #fafafa;
    font-size: 16px;
    text-align: center;
    margin: auto;
    background-color: #316e7d;
    width: 140px;
    border-radius: 6px;

}

.delete-button:hover{
    cursor: pointer;
    background-color: #51c1dd;
}